<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" >
    <meta name="description" content="Web controling RPi camera">
    <meta name="keywords" content="web camera control, rasperi pi cam control">
    <meta name="author" content="Milan Orlovic">

    <title> Buttons model</title>
    <link rel="stylesheet" href="../static/style2.css">
    <script src="../static/js/setGPIO.js"></script>
    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/jQueryActions.js"></script> -->
</head>

<body>
    <header>

        <!-- <div class="container" style="background-color:rgb(230, 230, 230)"> -->
            <!-- <div id="branding"> -->
                <!-- <p> In header, in div branding</p> -->
            <!-- </div> -->
        <!-- </div> -->
    </header>
    <section id="main-content">
        <div id="video">
            <!-- <h1> video div </h1> -->
            <!-- <p>some text</p>  -->
            <img class="stream" src="{{ url_for('video_feed') }}">

        </div>

        <div id="controls">
            <!-- <h1> controls div </h1> -->
            
           <!-- <button id="buttonUp" class="button1" onclick="setON()" >UP</button> <br> -->
           <!-- <button id="buttonUp" class="button" onmousedown=buttonPressed() onmouseup=buttonReleased() onmouseleave=buttonReleased() ontouchstart=buttonPressed() ontouchend=buttonReleased()>UP</button> <br>  -->
           <!-- <button id="buttonUp" class="button" onmousedown=buttonPressed() onmouseup=buttonReleased() onmouseleave=buttonReleased()>UP</button> <br>  -->
           <button id="buttonUp" class="button" ontouchstart=buttonPressed() ontouchend=buttonReleased() ontouchcancel=buttonReleased()>UP</button> <br> 
           <button id="buttonLeft" class="button">LEFT</button> <button id="buttonRight" class="button">RIGHT</button><br>
           <button id="buttonDown" class="button" onclick="setOFF()">DOWN</button><br> 
           
           <p> <span id="gpioStatusID11"> waiting for JS </span> </p>
           <!-- <script src="../static/js/gpioStatus-notexist.js"></script> -->
          
        </div>

    </section>

    <div id="footer">
        <p> Footer </p>
    </div>


</body>

</html>