* {
    box-sizing: border-box;
  }

#main-content{
    text-align: center;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /*    justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* border: 1px solid red;*/
  } 
#video{
    flex: 70%;
    margin: 5px;
    width: auto;
    height: auto;
    /* border: 1px solid red; */
}
#controls{
    flex: 30%;
    margin: 5px;
    width: auto;
    height: auto; 
    /* border: 1px solid gray;  */
}

.button {
      border: 5px solid white;
      width: 150px; 
      background-color: rgb(70, 57, 57); /* Green */
      color: white;
      /* margin: 5px; */
      padding: 15px 30px;
      text-decoration: none;
      text-align: center;
     
      font-size: 30px;
      /* border-radius: 12px; */
      /* border-radius: 8px; */

      /* -webkit-transition-duration: 0.4s; Safari */
      /* transition-duration: 0.4s; */
    
  }

.button:active{
  background-color: rgb(126, 105, 105);
}
.button:focus{
  outline: none;
}

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) { 
  body {   background-color: rgb(4, 57, 75);     } 
  h2 {
    display:none;
  }
 
  } 
   

  /* @media only screen and (max-width: 600px) {
    body {
       background-color: lightblue; 
    }
  .button {
  width : 300px ;
   }  } */